body {
    background-color: lightgray;


}


.navbar-brand {
    background-color: aquamarine;
    padding: 5px;
}

.container {
    padding: 100px 100px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    

}

h1 {
    color: tomato;
   
}

.details-1 {
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
   
  
}

.details-2 {
    line-height: 1.5;
    
}

.geralt {
    
    
}